:root {
	--themeColor: #2f65ca;
	--themeBoxshowColor: 0 0 2px 2px rgba(47, 101, 202, 0.4);
	--panelBgColor: rgba(60, 63, 65, 1);
	--panelDisabeldFontColor: #7c7c7d;
	--panelBorderColor: #323232;
	--panelFontColor: #bbb;
	--panelFontSize: 14px;
	--panelBorderRadius: 4px;
	--panelBoxshowColor: 0 0 2px 2px rgba(60, 63, 65, 0.4);
	--middleBgColor: #27292a;
	--contentBorderColor: #646464;
	--contentBgColor: rgba(43, 43, 43, 1);
}
