* {
	box-sizing: border-box;
}
::after,
::before {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
		Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
	font-variant: tabular-nums;
}

p,
h1,
h2,
h3,
ul,
li,
body,
html {
	margin: 0;
}

input {
	outline: none;
}

ul,
li {
	padding: 0;
	list-style: none;
}

.transition-fade-enter-active,
.transition-fade-leave-active {
	transition: opacity 0.3s;
}
.transition-fade-enter,
.transition-fade-leave-to {
	opacity: 0;
}

.transition-scale-enter-active,
.transition-scale-leave-active {
	transition: opacity 0.3s, transform 0.3s;
}
.transition-scale-enter,
.transition-scale-leave-to {
	opacity: 0;
	transform: scale(0);
}

.transition-slideRight-enter-active,
.transition-slideRight-leave-active {
	transition: transform 0.3s, opacity 0.3s;
}
.transition-slideRight-enter,
.transition-slideRight-leave-to {
	opacity: 0;
	transform: translateX(100%);
}
